@media (min-width:32.5em) {
    body{
        font-size: 18px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr;
    }
    #visual-grid {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #hicks-grid {
        grid-column: 2/3;
        grid-row:1/2;
    }
    #white-space-grid {
        grid-column: 1/3;
        grid-row:2/3;
    }
}