body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}
table {
    margin: 15px auto;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: .5rem;
    text-align: center;
    border-left: 1px solid black;
}

caption {
    caption-side: bottom;
    padding: .5rem;
    font-weight: bold;
    color:#55335B;
}
tr:first-child th{
    background-color: #1B6788;
    color: white;
}
.top-sales {
    background-color: #C1C0D8;
}
th {
    background-color: #AADAEE;
}
tbody tr:nth-child(even) {
    background-color: #E1F2FE;
}