@media (min-width:64em) {
    body {
        font-size: 22px;
        max-width: 1900px;
    }
    header {
        grid-template-rows: 1fr ;
    }
    .home-main {
        max-width: 1600px;
        margin: auto;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: minmax(auto, 570px) 1fr auto;
    }
    .event {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 1rem;
    }
    .hero {
        grid-column: 2/3;
        grid-row: 1/2;
        grid-template-rows: 1fr 1fr;
        margin-top: 1rem;
    }
    .hero picture {
        grid-row: 1/3;
    }
    .hero-msg {
        margin-top: 10%;
    }
    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
        margin: 1rem;
    }
    .JoinSection {
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 1rem;
        background-color: #FDB887;
        padding: 1rem;
        box-shadow: 0 0 20px black;
    }
    .JoinSection button{
        width: 80%;
    }
    .event img {
        margin: auto;
    }
    .news {
        grid-column: 2/3;
        grid-row: 2/4;
        margin: 1rem;
    }
    .news h2 {
        margin-top: 0;
    }
    .news p {
        padding: 0 2rem;
    }
    .spotlightContainer {
        grid-column: 3/4;
        grid-row: 1/4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: block;
        font-size: .9rem;
    }
    nav ul li a {
        padding: .5rem 1rem;
    }
    #hamburgerBtn {
        display: none;
    }
    nav #primaryNav {
        display: flex;
        margin-left: 1rem;
    }
    #social-media {
        grid-column: 4/5;
        margin-right: 1rem;
    }
    header p {
        margin: 1rem;
    }
    .tierDescription {
        font-size: 1rem;
    }
    /*-----------Contact Us------------*/

    .contact {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 1fr auto;
    }
    .contact h1 {
        grid-column: 1/5;
    }
    .contact figure {
        grid-column: 1/3;
        grid-row: 2/3;
        overflow: hidden;
    }
    .contact img{
        width: 90%;
    }
    .contact section {
        grid-column: 3/5;
        grid-row: 2/3;
        text-align: left;
        margin: 2rem;
    }
    .contact h2{
        padding-left: 4rem;
    }
    .contact h3, p {
        padding-left: 4rem;
    }
    .contact form {
        grid-column: 2/4;
        margin-top: 3rem;
    }
    .contact img:hover {
        margin: 0 1rem;
        box-shadow: 0 0 30px black;
    }
}